# Data manipulation
pandas==2.1.0
numpy==1.26.0

# Visualization
matplotlib==3.8.0
seaborn==0.12.3

# Machine Learning
scikit-learn==1.3.0
joblib==1.3.2

# Model explainability
shap==0.42.1

# Web app / dashboard
streamlit==1.27.0
